
.container{
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.title{
    width: auto;
    
}

.title h3{
    font-weight: normal;
}

.title h2{
    margin: 0;
}

.netwoksList{
    font-size: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.logo{
    min-width: 280px;
    max-width: 280px;
    margin-right: 12px;
}

.logo img{
    width: 100%;
}



/* mediaquery al llegar a los 1024px
para que el banner title tenga el 100% de width */

@media (max-width: 1024px) {
    /* … */
.container{
    justify-content: center;
    flex-wrap: wrap;
}

    .title{
        width: 100%;
    }
  }